body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#game-card {
    display: flex;
    background-color: bisque;
    border: 2px solid sienna;
    height: 500px;
    width: 98vw;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#prompt-box {
    display:flex;
    flex-direction: column;
    background-color: bisque;
    border: 2px solid white;
    height: 70%;
    width: 70%;
    justify-content: center;
    align-items: center;
}

#game-scores {
    display: flex;
    flex-direction: column;
    border-inline: 1px solid white;
    height: 100%;
    width: 20%;
}

#player-result, #computer-result{
    align-content: center;
    text-align: center;
    flex: 1;
    color: sienna;
    font-size: larger;
}

#prompt-text {
    display: flex;
    height: 75%;
    width: 75%;
    justify-content: center;
    align-items: center;
    background: tan;
    color: whitesmoke;
}

#prompt-buttons {
    display: flex;
    height: 20%;
    width: 75%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.game-buttons-style {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -80px;
}

#rock-button, #scissors-button, #paper-button {
    border: 1px solid white;
    padding: 5px;
    border-radius: 11px;
    background-color: tan;
}

#rock-button:hover, #scissors-button:hover, #paper-button:hover{
    background-color: sienna;
}

.score-styles {
    margin-block: 10px;
    border-width: 50%;
    border-top: 2px solid sienna;
    background-color: tan;
}